.container {
  height: calc(100vh);
  background-color: var(--background-shapes);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 84px;
}
.header {
  font-family: 'Verdana', sans-serif;
  margin: 0px 0px 20px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.text {
  font-family: 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: green;
}

.text_item {
  display: inline;
  font-family: 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--text-normal);
  margin-bottom: 5px;
}

.last__text {
  font-family: 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: red;
}

.item {
  display: flex;
  justify-content: space-between;
}
