.navLink {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #9b9faa;
  transition: color 300ms linear;
}
.navLink:hover,
.navLink:focus {
  color: #212121;
}
.siteNav {
  display: flex;
  gap: 16px;
}
.siteNav::before {
  content: '';
  display: block;
  width: 2px;
  height: 32px;
  margin: -13px 1px 1px 1px;
  background-color: #9b9faa;
}
@media screen and (min-width: 768px) {
  .siteNav::before {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .siteNav::before {
    content: '';
    display: block;
    width: 2px;
    height: 32px;
    margin: -13px 1px 1px 1px;
    background-color: #9b9faa;
  }
}
