.header {
  width: 1280px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  align-items: center;
  width: 480px;
  margin: 0 auto;
  padding: 20px 20px;
}
@media screen and (min-width: 768px) {
  .header {
    width: 736px;
    margin: 0 auto;
    padding: 20px 0px;
  }
  .wrapper {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    position: absolute;
    width: 1280px;
    padding: 0;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
